/* 
    Document   : style
    Created on : 03.01.2012, 17:34:52
    Author     : marceniuk
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
h1 {
    width: 450px;
    color: red;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    width: 1000px;
    text-align: center;
    margin: 10px auto;
}

#main { background: #eee }

#header {
    height: 150px;
    background: #aaa;
}

#logo {
    height: 100px;
    width: 100px;
    float: left;
    margin-left: 20px;
    margin-top: -10px;
}

#logoText {
    float: left;
    margin: 10px 0 0 50px;
    /* font styles apply to text within alt tags */
    font-family: 'American Typewriter', Courier, monospace;
    font-size: 50px;
    color: #333;
}

#widgetBar {
    height: 50px;
    width: 1000px;
    float: right;
    background: #ccc;
}

.headerWidget {
    width: 194px;
    margin: 20px 2px;
    font-size: small;
    float: right;
    line-height: 25px;
    background: #aaa;
}

#footer {
    height: 30px;
    clear: left;
    background-color: aqua;
}

#content {
    height: 600px;
    width: 1000px;
    background: #ccc;
    font-size: 16px;
}




